backend/.env.example
backend/app/__pycache__/
backend/app/models/__pycache__/
backend/app/routers/__pycache__/
backend/app/schemas/__pycache__/
backend/app/services/__pycache__/
frontend/.env.example
frontend/.posvenv/
frontend/__pycache__/
frontend/components/__pycache__/
frontend/services/__pycache__/
frontend/views/__pycache__/
build/
dist/